.support-message{
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 400;
    display: block;
    margin-top: 17px;
}
.support-message span{
    color: #27BDAD;
    font-weight: 600;
    text-decoration: underline;
}