.transfer-details{
    padding: 35px 33px;
}
.tranfer-detail-header{
    position: relative;
}
.tranfer-detail-header img{
    position: absolute;
    right: 0;
    top: 10px;
    width: 18px;
}
.transaction-form{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.transactionAmount{
    position: relative;
}
.transactionAmount input{
    // height: 68px;
    // padding-top: 30px;
}
.transactionAmount span{
    position: absolute;
    left: 3%;
    top: 10%;
    font-size: 14px;
    font-family: 'Poppins';
}
.verticalLine{
    // height: 30px;
}
.lastVerticalLine{
    // height: 73px;
}
.feeChargesAccepted{
    color: #27BDAD;
}
.tranfer-detail-header p{
    max-width: 734px;
}
.currencyWrap select{
    height: 46px;
}