.collection-point{
    padding: 33px;
}
.input-field{
    display: flex;
    position: relative;
    width: 100%;
}
.input-field input {
    width: 100%;
    height: 50px;
    padding: 12px 24px;
    margin-right: 22px;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow:inset 0 0 10px #a0a0a0;
    -moz-box-shadow:inset 0 0 10px #a0a0a0;
    box-shadow:inset 0 0 5px #a0a0a0;
}
.input-field img{
    position: absolute;
    right: 5%;
    top: 30%;
}
.search-filter, .advancedFilters{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.advancedFilters img{
    width: 12px;
    height: 7px;

}
.advancedFilters span{
    font-size: 16px;
    font-family: 'Poppins';
    width: 134px;
}

table{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    max-height:410px;
    overflow-y: auto;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
      }
      
    tr{
        padding: 15px;
        display: flex;
        width: 100%;
        background: #AFE7E2;
        border-bottom: 1px solid #E9F8F7;
        align-items: center;
        border-radius: 5px;
    }
    td{
        width: 33.33%;
    }
    td.name-location-table-wrap{
        display: flex;
        // align-items: center;
        img{
            height: fit-content;
            margin-right: 10px;
        }
    }
}
.collection-name{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
}
.collection-full-name h2{
        font-size: 16px;
        font-weight: 600;
}
.collection-address h3{
    margin-top: 10px;
    font-size: 15px;
    font-weight: 400;
}
.collection-id-wrap{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 0px;
}
.collection-id-wrap h4{
    font-size: 15px;
    font-weight: 600;
}
.collection-card-heading{
    font-size: 16px;
    color: #27BDAD;
    font-weight: 500;
}
.collection-card-text{
    font-size: 15px;
}
.collection-card-heading-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.collection-card-container {
    background-color: #fff;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid rgb(39 189 173 / 92%);
    padding: 19px 12px 9px 14px;
    box-shadow: 0px 0px 21px 0px rgba(39,189,173,0.92);
-webkit-box-shadow: 0px 0px 21px 0px rgba(39,189,173,0.92);
-moz-box-shadow: 0px 0px 21px 0px rgba(39,189,173,0.92);
}