.headerMain{
    background-color: #E9F8F7;
    height: 93px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}
.navbarLeft{
    display: flex;
}
.logoWrap img{
    width: 239px;
    height: 42px;
    margin-right: 20px;
}
.headerWrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 82px;
}
.navbarWrap {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navWrap{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 40px;
    font-size: 18px;
    color: #27BDAD;
    font-family: 'Poppins';
    font-weight: 600;
}
.navbarWrap a{
    text-decoration: none;
    font-size: 16px;
}
.navbarWrap a:active{
    color: black;
}
.profileViewMain{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ProfileViewPhoto img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.navbarRight{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbarRight .profileName{
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 600;
    color: #27BDAD;
}
.profileUsername h5{
    font-size: 14px;
}
.fontAwesome{
    width: 50px;
    height: 50px;
    background-color: #27BDAD;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 38px;
}
.fontAwesome img{
    width: 22px;
}
.headerMain .dark-color-button{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: transparent;
    border: 0;
}
// DARK MODE STYLING

.headerMain.dark-mode{
    background-color: #0E2725;
}