@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.container{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    color: #0E2725;
}
.row>*{
    padding: 0;
    margin: 0;
}
h1, h2, h3 , h4 , h5, p, .row{
    margin: 0;
}
body{
    font-family: Poppins;
}
.flex{
    display: flex;
}
.flex-between{
    justify-content: space-between;
}
.items-center{
    place-items: center;
}

*{
    box-sizing: border-box;
    font-family: Poppins;
}
.dark-mode{
    *{
    color: #fff;
    box-shadow: none !important;
    }
    .navWrap{
        color: #fff;
    }
    .navWrap:hover{
        color: #27BDAD;
    }
    // Main Content
    &.MainContent{
        background: #000;
        .ContentHeaderText h3{
            color: #27BDAD;
        }
        //Main Sidebar
        .sidebarWrap, .sendMoneyPageOneLeft, .sendMoneyPageOneRight, .MoneyCalculator, .beneficiary-form , .accordion{
            background:#060D0C; 
        }
        .SmallInputWrap, input[text="number"] {
           background:#0C1917;
        }
        .SmallInputWrap:hover{
            background: #112623;
        }
        .tabMain:hover .tabName, .tabMain:hover .tabIcon img, {
            filter: invert(1);
        }
        .tabMain .tabName{
            font-weight: 400;
        }
        .sidebarWrap .profileBalanceButton button{
            background: #72FAEC;
            color: #000;
        }
        .currencyWrap, .currencyWrap * {
           background: #1E413D;
           border: 0;
           color: #fff;
        }
        .accordion-header, .accordion-header button[aria-expanded=true]{
            background: #112623;
            color: #fff;
        }
        .accordion-body{
            background: #0C1917;
        }
        .inner-content{
            background: #060D0C;
        } 
        input{
            background: #060D0C;
            border: 1px solid #72FAEC;
        }
    }
    .add-beneficiary{
        table{
            tr{
                background:#0B1917;
                .short-name{
                    background-color: black;
                    border-radius: 50%;
                }
                .full-name h2{
                    color: #72FAEC;
                }
            }
        }
        .beneficiary-header{
            button{
                color: #060D0C;
                img{
                    filter: invert(1);
                }
            }
        }
        .input-sort{
            button{
                background:#0B1917;
                color: white;
                img{
                    // filter: invert(1);
                }
            }
        }
    }
    .review-payment{
        background-color: #060D0C;
        color: white;
        .review-payment-body{
            background-color: #060D0C;
            color: white;
        }
    }
    .otp-confirmation {
        background-color: #060D0C;
        color: white;
        &__body{
           .otp-inputs{
               input{
                   border: 1px solid white;
               }
           } 
        }
    }
    &.footerMain{
        background:#000;
        border-top: 1px solid #383838;
        .MenuHeadingMain{
            color: #fff;
        }
        .SocialIconsMain img{
            filter: invert(1);
        }
        .footerAddress p{
            color: #fff;
        }
    }


}
// LAPTOP LOWER RES RESPONSIVE


// MOBILE RESPONSIVE
.App{
@media(max-width: 990px){
    *:not(input){
        text-align: center;
    }
    .headerMain  .navbarWrap, .profileView, .sidebarMain, .support-message  {
    display: none;
    }
    .MoneyCalculator .row >.col-lg-6:first-child{
        order: 2;
    }
    .headerWrap, .MainContentWrap{
        margin: 0;
    }
    .SmallInput, .SmallInputWrap{
        width: 100%;
    }
    .transactionType h3{
        text-align: center;
    }
    .sendMoneyPageOneRight{
        padding: 34px 25px;
        border-radius: 5px;
        background: #C2EDE9;
        border-radius: 5px;
    }
    .sendMoneyPageOneLeft{
        padding-top: 72px;
    }
    .container{
        min-width: 95%;
        max-width: 95%;
        margin: 0 auto;
    }
    .ContentHeaderText p{
        display: none;
    }
    .footerMain{
        .footerLeftWrap{
            padding-bottom: 45px;
            .footerAddress{
                margin-top: 20px;
            }
        }
        .footerMiddleWrap{
            flex-direction: column;
        }
        padding-bottom: 30px;
        input{
            position: static;
        }
        .modeAndLang, .footerContact, .footerSocialIcons, .footerButton{
            display: none;
        }
    }
}}