.CustomButtonMain{
    display: inline;
}
.CustomButtonMain button{
    border: 1px solid #27BDAD;
    border-radius: 28px;
    background-color: transparent;
    color: #27BDAD;
    padding: 13px 30px;
    font-size: 18px;
    font-family: 'Poppins';
    font-weight: 500;
}
.CustomButtonMain button:hover{
    background-color: #27BDAD;
    color: white;
    transition: all 0.5s;
}